@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scroll-behavior: smooth;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(80px, -60px);
  }
  100% {
    transform: translate(0, 0);
  }
}
